.ourvalue h2{
    font-weight: 900;
    color: aqua;
    font-size: 35px;
    /* font-size: 3.5vmin; */
    margin: 15px 0px; 
     
 }

 .ourvalue h1{
    color: aquamarine;
    margin: 20px 0px;
    /* font-size: 30px; */
 }

 .ourvalue p{
    color: gray;
 }